<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工资单</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<script>



$(function(){
    initUserInfo();

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
}

function initUserInfo(){
    var code = getQueryString("code");
    if (code == null || code == "" || code == "null") {
        alertFunc("微信授权失败！")
        lazyCloseWindow();
        return;
    }
    $.ajax({
        url: "/fuwuhao/getUserInfo/" + code,
        async: false,
        type: "GET",
        success: function(result){
            console.log("getOpenid_result:" + result);
            if (result != "null") {
                var resultObj = JSON.parse(result);
                console.log("resultObj.employee:" + resultObj.employee);
                if (resultObj.employee == undefined || resultObj.employee == "undefined" || resultObj.employee == "" || resultObj.employee == "null") {
                    alertFunc("你还未通过审核！");
                    lazyCloseWindow();
                    return;
                } else {
                    $("#hide_userName").val(resultObj.employee.employeeName);
                    $("#hide_department").val(resultObj.employee.department);
                    $("#hide_role").val(resultObj.employee.role);
                    $("#hide_mobile").val(resultObj.employee.mobile);
                    $("#hide_ruleid").val(resultObj.employee.ruleid);
                    $("#hide_employee_id").val(resultObj.employee.id);
                    $("#hide_openid").val(resultObj.employee.openid);
                }
            }
        }
    });
}


	$("#okSaveMobileValidate").click(function(){
	    var newMobile = $("#mobileValidate").val();
	    var reg = /^[1][3,4,5,7,8][0-9]{9}$/;
	    if (!reg.test(newMobile)) {
	        alertFunc("请输入正确的手机号码！");
	        return;
	    }

	    var data = {"openid": $("#hide_openid").val(),"mobile":newMobile};
	    $.ajax({
	        url: "/wxOpen/add",
	        type: "POST",
	        data: JSON.stringify(data),
	        contentType: "application/json",
	        success: function(result){
	            if (result == "1") {
	                alertFunc("系统异常，请稍后再试！");
	                WeixinJSBridge.call('closeWindow');
	                return;
	            }
	            if (result == "0") {
	                alertFunc("绑定成功！");
	                WeixinJSBridge.call('closeWindow');
	                return;
	            }
	        }
	    });
	});



    var date = new Date();
	var curYear = date.getFullYear();
	//var lastYear = curYear - 1;
	//$("#yearSelect").append("<option value='"+lastYear+"'>"+lastYear+"</option>");
	$("#yearSelect").append("<option value='"+curYear+"'>"+curYear+"</option>");
	$("#yearSelect").val(curYear);
	var openid = $("#hide_openid").val();
	getYearMonth(openid,curYear);

	$(".content-list").on("click",".filed",function(){
	    var curYear = $("#yearSelect").val();
		var yearMonth = $(this).attr("datas");
		var monthFull = yearMonth.substring(4,yearMonth.length);
		var month = monthFull.substring(0,monthFull.length - 1) == "0" ? monthFull.substring(1,monthFull.length) : monthFull;

        $(".title-div").find("span").text(curYear + "年" + month + "月工资单");
        getSalayInfo(openid,yearMonth);
		$(".content").hide();
		$(".content-info").show();
	});

	$("#goBack").click(function(){
	    $(".content-info").hide();
	    $(".content").show();

	});

});

function getYearMonth(openid,yearStr){
    var data = {"openid": openid,"yearStr": yearStr};
    $.ajax({
        url: "/payInfo/queryYearMonth",
        type: "POST",
        data: JSON.stringify(data),
        contentType: "application/json",
        success: function(result){
        console.log("result:" + result);
            if (result == "1") {
                alertFunc("系统异常，请稍后再试！");
                return;
            }
            if (result != "null" && result != "[]") {
                console.log("JSON.parse(result):" + JSON.parse(result));
                iteratorYearMonth(JSON.parse(result));
                return;
            } else {
                iteratorYearMonth("");
            }
        }
    });
}

function iteratorYearMonth(yearMonthData){
    if (yearMonthData == "") {
        $(".content-list").append("暂无记录！");
        return;
    }
    for (var i in yearMonthData) {
        $(".content-list").append("<div class='filed' datas='"+yearMonthData[i].years_month+"'><span class='filed-span'>"+yearMonthData[i].years_month+"工资单</span><span class='info-span'>></span></div>");
    }
}

function getSalayInfo(openid,yearMonth){
    var data = {"openid": openid,"yearMonth": yearMonth};
    $.ajax({
        url: "/payInfo/querySalayList",
        type: "POST",
        data: JSON.stringify(data),
        contentType: "application/json",
        success: function(result){
        console.log("result====:" + result);
            if (result == "1") {
                alert("系统异常，请稍后再试！");
                return;
            }
            if (result != "null" && result != "[]") {
                console.log("JSON.parse(result):" + JSON.parse(result));
                iteratorSalayList(JSON.parse(result));
                return;
            } else {
                iteratorSalayList("");
            }
        }
    });
}

function iteratorSalayList(salayList){
    $(".content-salary").html("");
    var dataStr = "";
    for (var i in salayList) {
        if (i >= 1) {
            dataStr += "<hr>";
        }
            dataStr += "<p><span class='filed-span'>身份证</span><span class='info-span'>"+salayList[i].id_card+"</span></p>";
            dataStr += "<p><span class='filed-span'>姓名</span><span class='info-span'>"+salayList[i].name+"</span></p>";
            dataStr += "<p><span class='filed-span'>部门</span><span class='info-span'>"+salayList[i].department+"</span></p>";
            dataStr += "<p><span class='filed-span'>级别</span><span class='info-span'>"+salayList[i].level+"</span></p>";
            dataStr += "<p><span class='filed-span'>基本工资</span><span class='info-span'>"+salayList[i].base_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>效益工资</span><span class='info-span'>"+salayList[i].benefit_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>津贴</span><span class='info-span'>"+salayList[i].subsidy_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>奖金</span><span class='info-span'>"+salayList[i].bonus_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>提升工资</span><span class='info-span'>"+salayList[i].up_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>日常加班</span><span class='info-span'>"+salayList[i].day_work_over+"</span></p>";
            dataStr += "<p><span class='filed-span'>节假日加班</span><span class='info-span'>"+salayList[i].weekday_work_over+"</span></p>";
            dataStr += "<p><span class='filed-span'>项目奖</span><span class='info-span'>"+salayList[i].item_bonus_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>KPI奖金</span><span class='info-span'>"+salayList[i].kpi_bonus_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>话费书报费</span><span class='info-span'>"+salayList[i].telephone_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>考勤扣款</span><span class='info-span'>"+salayList[i].attendance_deductions+"</span></p>";
            dataStr += "<p><span class='filed-span'>纪律评扣</span><span class='info-span'>"+salayList[i].discipline_deductions+"</span></p>";
            dataStr += "<p><span class='filed-span'>应发工资</span><span class='info-span'>"+salayList[i].should_send_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>代扣款项</span><span class='info-span'>"+salayList[i].instead_deductions+"</span></p>";
            dataStr += "<p><span class='filed-span'>养老金</span><span class='info-span'>"+salayList[i].pension_pay+"</span></p>";
            dataStr += "<p><span class='filed-span'>失业险</span><span class='info-span'>"+salayList[i].unemployment_insurance+"</span></p>";
            dataStr += "<p><span class='filed-span'>医疗险</span><span class='info-span'>"+salayList[i].medical_insurance+"</span></p>";
            dataStr += "<p><span class='filed-span'>住房公积金</span><span class='info-span'>"+salayList[i].accumulation_fund+"</span></p>";
            dataStr += "<p><span class='filed-span'>个税</span><span class='info-span'>"+salayList[i].personal_taxes+"</span></p>";
            dataStr += "<p><span class='filed-span'>实发工资</span><span class='info-span'>"+salayList[i].actual_send_pay+"</span></p>";
    }
    $(".content-salary").append(dataStr);
}

	function alertFunc(a){
	    $("#alertModal2").find(".modal-body").html(a);
		$("#alertModal2").modal("show");
	}
	function closeCurWindow(){
        if (typeof window.WeixinJSBridge == "undefined"){
            $(document).on('WeixinJSBridgeReady',function(){
                WeixinJSBridge.call('closeWindow');
            });
        } else {
            WeixinJSBridge.call('closeWindow');
        }
	}
	function lazyCloseWindow(){
	    setTimeout("closeCurWindow()",1000);
	}
</script>

    <style>
body{
    background-color: #eee;
    font-size: 50px;
}
.filed{
    overflow: hidden;
    margin-top: 10px;
	width:100%;
	padding:15px 0;
    height:12%;
    background-color: white;
}

select{
    height:90px;
	width:100%;
}
.select-div{
    text-align: center;
	margin-top: 10px;
    margin-bottom: 30px;
	width:100%;
}
p{
    margin: 5px 0 10px;
    background-color: white;
	font-size:30px;
}
.filed-span{
    padding-left:20px;
}
.info-span{
    float:right;
	padding-right:20px;
	color: darkgray;
}

.form-control{
    height:70px;
    font-size:30px;
    width:50px;

}


.container{
    width:100%;
}
.title-div{
    text-align: center;
    margin-bottom: 30px;
	width:100%;
}
hr{
    color: white;
    border: none;
    border-top: solid;
    width: 100%;
}
.go-back{
    overflow: hidden;
	width:100%;
	padding:30px 0;
    height:12%;
	margin-bottom: -100px;
}



.form-control2{
    height:80px;
    font-size:40px;
}
.go-back-save{
    overflow: hidden;
	width:100%;
	padding:30px 0;
    height:12%;
}
.mobile-input{
    width:100%;
	height:100px;
}
.filed-input{
    overflow: hidden;
	width:100%;
    height:100px;
    background-color: white;
}
.edit-div{
    width:100%;
    font-size:50px;
}
input{
    font-size:50px;
}
</style>
</head>
<body>
<div class = "container" id="containerMain">
    <div class="content">
        <div class="select-div">
            <select id = "yearSelect">
            </select>
        </div>
        <div class="content-list">
            <!--<div class="filed" datas="1"><span class="filed-span">1月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="2"><span class="filed-span">2月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="3"><span class="filed-span">3月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="4"><span class="filed-span">4月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="5"><span class="filed-span">5月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="6"><span class="filed-span">6月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="7"><span class="filed-span">7月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="8"><span class="filed-span">8月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="9"><span class="filed-span">9月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="10"><span class="filed-span">10月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="11"><span class="filed-span">11月工资单</span><span class="info-span">></span></div>-->
            <!--<div class="filed" datas="12"><span class="filed-span">12月工资单</span><span class="info-span">></span></div>-->
        </div>
    </div>
    <div class="content-info" style="display:none;">
        <div class="go-back">
            <input id = "goBack" type = "button"  class = "form-control" value = "返回" style = "width:200px;float:right;"/>
        </div>
        <div class="title-div"><span>2019年2月工资单</span></div>
        <div class="content-salary">
            <!--<p><span class="filed-span">身份证</span><span class="info-span">410258951244785146</span></p>-->
            <!--<p><span class="filed-span">姓名</span><span class="info-span">李四</span></p>-->
            <!--<p><span class="filed-span">部门</span><span class="info-span">事业二部</span></p>-->
            <!--<p><span class="filed-span">级别</span><span class="info-span">高级</span></p>-->
            <!--<p><span class="filed-span">基本工资</span><span class="info-span">0001</span></p>-->
            <!--<p><span class="filed-span">效益工资</span><span class="info-span">0002</span></p>-->
            <!--<p><span class="filed-span">津贴</span><span class="info-span">0003</span></p>-->
            <!--<p><span class="filed-span">奖金</span><span class="info-span">0004</span></p>-->
            <!--<p><span class="filed-span">提升工资</span><span class="info-span">0005</span></p>-->
            <!--<p><span class="filed-span">日常加班</span><span class="info-span">0006</span></p>-->
            <!--<p><span class="filed-span">节假日加班</span><span class="info-span">101</span></p>-->
            <!--<p><span class="filed-span">项目奖</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">KPI奖金</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">话费书报费</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">考勤扣款</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">纪律评扣</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">应发工资</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">代扣款项</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">养老金</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">失业险</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">医疗险</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">住房公积金</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">个税</span><span class="info-span">110</span></p>-->
            <!--<p><span class="filed-span">实发工资</span><span class="info-span">110</span></p>-->
        </div>
    </div>

    <input type="hidden" id="hide_openid">
    <input type="hidden" id="hide_userName">
    <input type="hidden" id="hide_department">
    <input type="hidden" id="hide_role">
    <input type="hidden" id="hide_mobile">
    <input type="hidden" id="hide_ruleid">
</div>

<div class = "container" id="mobileValidateDiv" style="display:none">
    <div id = "editDiv" class="edit-div">
        <div class="go-back-save">
            <input id = "okSaveMobileValidate" type = "button"  class = "form-control" value = "保存" style = "width:200px;float:right;"/>
        </div>
        <div class="filed-input"><input id="mobileValidate" type="text" class = "form-control2 mobile-input" placeholder="请输入手机号"/></div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="alertModal2" tabindex="-1" role="dialog" show="true" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style = "margin: 60% auto;">
        <div class="modal-content" style = "border-radius: 30px;font-size: 40px;">
            <div class="modal-body" style="text-align: center;height:150px;padding: 50px 0;">
                提示内容
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-primary"  data-dismiss="modal" style="font-size: 40px;">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>