<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>陆鹰实业</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- JavaScript files-->
    <script src="/static/js/bootstrap.min.js"></script>
<style>
    .image-box {
    font-size: 0;
    display: inline-block;
    padding: 30px 140px;
    box-sizing: border-box;
    background: url(/static/images/bg.png) no-repeat center;
}
</style>
</head>
<body>
<div class="container">
    <center>
        <div class = "img-box">
            <img src="/static/image/500.png">
        </div>
        <h3>你的访问受限！</h3>
        <p>
            服务器拒绝处理您的请求！您可能没有访问此操作的权限， 点击
            <a href="/login">登录</a>或<a href="/">返回主页</a>
        </p>
    </center>

</div>

</body>
</html>