<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/json2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script type="text/javascript">

        $(function(){
            //加载通讯录
            loadAddressList();

            $("#upload").click(function(){
                $("#upload").attr("disabled","true");
                var fileName = $("#file").val();
                if (fileName == "") {
                    alert("请选择上传文件！");
                    $("#upload").removeAttr("disabled");
                    return;
                }
                if (fileName.indexOf("\\") != -1){
                    fileName = fileName.substring(fileName.lastIndexOf("\\") + 1);
                }

                var suffix = fileName.substring(fileName.lastIndexOf("."));
                if (suffix != ".xls" && suffix != ".xlsx") {
                    alert("请上传.xls或.xlsx格式的文件！");
                    $("#upload").removeAttr("disabled");
                    return;
                }
                $("#uploadForm").ajaxSubmit({
                    type:"POST",
                    url:"sendMessage",
                    success:function(result){
                        var res = JSON.parse(result);
                        if (res.errCode == "-999") {
                            alert("发送工资条异常！");
                        } else {
                            var message = "发送总数：" + res.totalCount + "\n"
                                         + "成功总数：" + res.successCount + "\n"
                                         + "失败总数：" + res.errCode + "\n"
                                         + "失败信息：\n";
                            for( var key in res.message) {
                                message += "姓名：" + key + "  错误码：" + res.message[key] + "\n";
                            }
                            alert(message);
                        }
                        $("#upload").removeAttr("disabled");
                        }
                    });
            });

            function loadAddressList(){
                var url = "getAddressList/1";
                $.get( url ,function(result,status){
                    if (status != "success" ) {
                        alert("获取通讯录异常！");
                        return;
                    }
                    if (result == null || result == "") {
                        alert("通讯录为空！");
                        return;
                    }
                    var resultObj = JSON.parse(result);
                    for ( var i in resultObj) {
                        var trStr = "<tr>"
                                         + "<td align='center'>"
                                         + "<input type='checkbox' id = '"+resultObj[i].mobile+"' name='checkedInfos' value='"+ resultObj[i].mobile +"|" + resultObj[i].name + "|"+ resultObj[i].userid +"' class='gcs-checkbox'/>"
                                         + "<label for='"+resultObj[i].mobile+"'></label>"
                                         + "</td>"
                                         + "<td>"+ resultObj[i].name +"</td>"
                                         + "<td>"+ resultObj[i].mobile +"</td>"
                                    + "</tr>";
                        $("#addressList").append(trStr)
                    }

                });
            }

             //模糊查询
            $("#search").bind("input propertychange",function(){
                var serachVal = $("#search").val();
                $.each($("input[name='checkedInfos']:not(:checked)"),function(){
                    var currentVal = $(this).val();
                    if (currentVal.match(serachVal)) {
                        $(this).parents("tr").show();
                    } else {
                        $(this).attr("checked",false);
                        $(this).parents("tr").hide();
                    }
                });
            });
         });
    </script>
</head>
<body>
<div id="app">
    <form id="uploadForm" action="sendMessage" method="post" enctype="multipart/form-data">

        <table class="table table-striped">
            <thead>
            <tr>
            <tr>
                <td colspan="3" align="center"><h1>发送工资条</h1></td>
            </tr>
            <td align="center">
                <input id="file" name="file" type="file" class="btn btn-default"/>
                <!--<input type="submit" value="提交"/>-->
            </td>
            <td>
                <input type="button" id="upload" value="发送工资条" class="btn btn-default"/>
            </td>
            <td>
                <input type="text" id="search" placeholder="搜索条件。。。" value="" class="form-control"/>
            </td>
            </tr>
            <tr>
                <th align="center">
                    <!--<input type='checkbox' id = "checkedAll" class='gcs-checkbox'/>-->
                    <!--<label for="checkedAll"></label>-->
                </th>
                <th>姓名</th>
                <th>手机号</th>
            </tr>
            </thead>
            <tbody id="addressList">
            </tbody>
        </table>
    </form>
</div>
</body>

</html>